<html>
    <head>
        <meta charset="UTF-8">
        <title>
            IVR Holiday Management
        </title>
    </head>
    <body>
        <br><br>
        <h2>IVR Holiday Management</h2>
        <br><br>
        {{ table }}
        <br><br>
        <button type="button" style="WIDTH: 140pt; HEIGHT: 40pt; font-size:16pt" onclick="location.href='/new_holiday'">  Add Holiday  </button>        
        <button type="button" style="WIDTH: 140pt; HEIGHT: 40pt; font-size:16pt"onclick="location.href='/'">  Main Page  </button>        
        <br><br>
    </body>
</html>
