<html>
    <head>
        <meta charset="UTF-8">
        <title>
            IVR Holiday and WorkTime Schedule Management
        </title>
    </head>
    <body>
        <br><br>
        <h2> IVR Holiday and WorkTime Schedule Management</h2>
        <button type="button"  style="WIDTH: 140pt; HEIGHT: 60pt; font-size:16pt" onclick="location.href='/holiday'">  Holiday Management  </button>        
        <br><br>
        <button type="button"  style="WIDTH: 140pt; HEIGHT: 60pt; font-size:16pt"  onclick="location.href='/worktime'">Business hours Management</button>        
    </body>
</html>
