<html>
    <head>
        <meta charset="UTF-8">
        <title>
            IVR WorkTime Schedule Management
        </title>
    </head>
    <body>
        <br><br>
        <h2>IVR WorkTime Schedule Management</h2>
        <br>
        <h5>c_datetype  0:Sunday    1:Monday    2:Tuesday    3:Wednesday    4:Thursday    5:Friday    6:Satueday</h5>
        <h5>c_timetype  1:Business Hour    2:Break Time</h5>
        <h5>c_starttime  Business Hour Start Time(HHMM)</h5>
        <h5>c_endtime  Business Hour End Time(HHMM)</h5>
        <br><br>
        {{ table }}
        <br><br>
        <button type="button" style="WIDTH: 140pt; HEIGHT: 40pt; font-size:16pt" onclick="location.href='/'">  Main Page  </button>        
        <br><br>
    </body>
</html>
